---
import Heading from "@/components/Heading.astro";
import { Button } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout
  title="Oops. That's a 404."
  description="The page you're looking for could not be found."
>
  <div class="mt-24 lg:mt-48 space-y-6 text-center flex flex-col items-center">
    <Heading level={1}>Oops! That's a 404.</Heading>
    <div class="space-y-1 max-w-[30ch] lg:max-w-full">
      <p>It appears you tried to reach a page that doesn't exist.</p>
      <p>Perhaps try using of the menu links?</p>
    </div>
    <Button as="a" href="/"><Icon name="lucide:house" />Go Home</Button>
  </div>
</BaseLayout>
