---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<div
  data-slot="accordion-content"
  class={cn(
    "overflow-hidden text-sm [&_a]:underline [&_a]:hover:text-primary [&_a]:transition-colors [&_a]:duration-150",
    className,
  )}
  {...props}
>
  <slot />
</div>
