---
import { getCollection } from "astro:content";
import SocialLinks from "./SocialLinks.astro";

const config = await getCollection("config").then(
  (collection) => collection[0].data,
);
if (!config) {
  throw new Error("Site config not found");
}

const footerPageLinks = [
  { href: "/privacy-policy", label: "Privacy" },
  { href: "/use-of-ai", label: "AI Use" },
  { href: "/rss.xml", label: "RSS" },
];
---

<footer class="mt-16 mb-4 lg:mb-6">
  <div
    class="container flex flex-col lg:flex-row gap-1 items-center lg:justify-between lg:items-end"
  >
    <div>
      <p class="text-sm lg:text-md text-muted-foreground uppercase">
        Copyright &copy; {new Date().getFullYear()}. Bradley Burgess.
      </p>
    </div>
    <div
      class="flex gap-2 text-sm text-muted-foreground lg:text-md uppercase [&_a]:underline [&_a]:hover:text-primary"
    >
      {
        footerPageLinks.map((link, index) => (
          <>
            <a href={link.href}>{link.label}</a>
            {index < footerPageLinks.length - 1 && (
              <span aria-hidden>&middot;</span>
            )}
          </>
        ))
      }
    </div>
    <div>
      <SocialLinks size="sm" />
    </div>
  </div>
</footer>
