---
import { cn } from "@/lib/utils";

interface Props {
  level?: 1 | 2 | 3 | 4;
  class?: string;
}

const { level = 1, class: className } = Astro.props;

const baseClassList = {
  "font-bold text-2xl lg:text-4xl": level === 1,
  "font-bold text-xl lg:text-3xl": level === 2,
  "font-semibold text-lg lg:text-2xl": level === 3,
  "font-semibold text-base lg:text-xl": level === 4,
};

const classList = cn("font-heading", baseClassList, className);
---

{
  level === 1 && (
    <h1 class={classList}>
      <slot />
    </h1>
  )
}
{
  level === 2 && (
    <h2 class={classList}>
      <slot />
    </h2>
  )
}
{
  level === 3 && (
    <h3 class={classList}>
      <slot />
    </h3>
  )
}
{
  level === 4 && (
    <h4 class={classList}>
      <slot />
    </h4>
  )
}
