---
import { Image } from "astro:assets";
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileTitle,
} from "@/components/ui/tile";
import { marked } from "marked";
import { formatDate } from "@/lib/utils";
import { SectionGrid } from "../ui/section";

interface Props {
  posts: {
    href: string;
    title: string;
    description: string;
    publishDate: string;
    category?: string;
    image: {
      src: ImageMetadata;
      alt: string;
      width?: number;
      height?: number;
    };
  }[];
}

const { posts } = Astro.props;
---

<div class="w-full flex flex-col gap-4 lg:gap-6">
  <SectionGrid size="md">
    {
      posts?.map(({ title, description, image, href, publishDate, category }) => (
        <Tile href={href}>
          <TileMedia class="aspect-video w-full">
            <Image fit="cover" {...image} width={600} quality={80} />
          </TileMedia>
          <TileContent>
            <TileDescription class="flex flex-wrap justify-between text-xs">
              <span>{formatDate(publishDate)}</span>
              <span class="uppercase font-heading">{category}</span>
            </TileDescription>
            <TileTitle class="leading-tight">{title}</TileTitle>
            <TileDescription set:html={marked(description!)} />
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</div>
