---
import { Icon } from "astro-icon/components";
import Heading from "../Heading.astro";
import { Item, ItemMedia, ItemTitle } from "@/components/ui/item";
import { cn } from "@/lib/utils";

interface Props {
  categories: {
    id: string;
    icon: string;
  }[];
  activeCategory?: string;
}

const { categories, activeCategory } = Astro.props;
---

<>
  <Heading level={2}>Categories</Heading>
  <ul class="flex flex-wrap gap-4 justify-stretch list-none">
    {
      categories?.map((cat) => (
        <li class="flex-1 min-w-35">
          <Item
            href={activeCategory === cat.id ? null : `/blog/c/${cat.id}/1`}
            variant="outline"
            class={cn({ "text-muted-foreground": activeCategory === cat.id })}
          >
            <ItemMedia>
              <Icon name={cat.icon} />
            </ItemMedia>
            <ItemTitle>{cat.id}</ItemTitle>
          </Item>
        </li>
      ))
    }
  </ul>
</>
